body {position: absolute;
}

h1 {
    text-align: center;
    color: red;
}

.first1 { 
    display: flex;
    width: auto;
    padding-inline: 15px;
}



.naslov {
    color: aqua;
    
}
p {
    
    max-width: fit-content;
    max-height: fit-content;
    text-align: center;
    text-align: justify;
}
    
