body {
    position: absolute;
}
h1 {
    color: red;
    font-size: medium;
    text-align: center;
    padding-bottom: 10px;
}

.first1 { 
    display: flex;
    width: auto;
    
}

.second { 
    padding: 15px;  
    
    
}
p {color: aqua;}

.tekst {max-width: fit-content;
    max-height: fit-content;
    text-align: center;
    text-align: justify;
    padding-block-end: 20px;
}

image { padding: 20px;
    font-size: 30px;
    text-align: center;
}
